<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="forgot-password" class="panel">
  <div class="panel-body">
    <h2><%= Spree.t(:forgot_password) %></h2>

    <p><%= Spree.t(:instructions_to_reset_password) %></p>

    <%= form_tag admin_reset_password_path do %>
      <div class="form-group text-center">
        <%= email_field_tag :email, nil, class: 'form-control', tabindex: 1, placeholder: Spree.t(:email) %>
      </div>
      <div class="form-group">
        <%= submit_tag Spree.t(:reset_password), :class => 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>
